.editor-section {
    display: none;
}

.gallery-section {
    display: block;
}

.search-an-img {
    display: block;
} 

/* .editor-section {
    display: block;
}

.gallery-section {
    display: none;
} */

 


                       /*! just for the show */