.editor-section {
    display: none;
}

.gallery-section {
    display: block;
}

.search-an-img {
    display: block;
} 

.saved-memes-section {
    display: none;
}

/* .gallery-save {
    display: none;
} */


/* .editor-section {
    display: block;
}

.gallery-section {
    display: none;
} */

 


                       /*! just for the show */