/* .card-layout {
    display: grid;
    row-gap: 80px;
}

.main-layout {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
} */


/** Layout */
.container {
    background-color: palevioletred;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
  }
  
  /** Gallery */
  .gallery-section {
    background-color: aquamarine;
    flex: 1;
    padding: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px;
  }

  /** emoji */
  
  @media (max-width: 600px) {
    .emojis-module.grid {
        grid-template-columns: repeat(4, 35px);
        grid-template-rows: repeat(5, 35px);
    }

    .emoji-select {
        font-size: 20px;
    }

    .emoji-item {
        font-size: 20px;
    }

    .prev-page,
    .next-page {
        width: 25px;
        height: 25px;
    }
}